body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: black;
}

.main-container {
  width: 100%;
  padding: 0 10rem;

background: linear-gradient(90deg,rgba(240, 155, 170, 1) 0%, rgba(247, 192, 172, 1) 50%, rgba(240, 155, 170, 1) 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: #533b44;
}

.nav-links a {
  color: black;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #533b44;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.content {
  max-width: 50%;

}

.content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #000;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: #333;
}

.contact-btn {
  padding: 0.8rem 2rem;
  background-color: #533b44;
  border: none;
  border-radius: 25px;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.contact-btn:hover {
  background-color: #a26de1;
  box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

.profile-pic img {
  margin-bottom: 40px;
  border-radius: 50%;
  max-width: 300px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}